$main-color:#f8f9fa;
$green-color:#0fb78d;
$dark-color:#000000;
$bgdarkcolor:#142136;
$common-color: rgba(255, 255, 255, 0.3);
$navbar-color :rgba(0, 0, 0, 0.5);
$footer-color: #0f0f0f;
$input-color: #070707;
$product-color: #8AA69B;
$red-color:#ce3232
