@import "../abstract/mixin";
@import "../abstract/variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  position: relative;
}
header {
  #nav--head {
    width: 100%;
    height: auto;
    z-index: 2;

    .sidebar {
      display: none;
      @include mobile {
        display: block !important;
        font-size: 24px;
        cursor: pointer;
      }

      @include tablet {
        display: block !important;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    .nav_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: 17px 40px;
      background-color: rgba(255, 255, 255, 0.3);

      @include mobile {
        padding: 17px 8px;
      }

      @include tablet {
        padding: 17px 8px;
      }
      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 14px;
      }

      .nav-logo {
        img {
          @include mobile {
            margin-left: 24px;
          }

          @include tablet {
            margin-left: 40px;
          }
        }
      }
      .product_list {
        position: relative;
        display: flex;
        margin: 0;
        list-style: none;
        justify-content: space-between;
        width: 40%;
        align-items: center;
        .closeBarr {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 9px;
          left: 1px;
          transition: all 2.2s;

          display: none;

          @include mobile {
            display: block;

            .closeone {
              width: 24px;
              height: 2px;
              color: $dark-color;
              position: absolute;
              left: -11px;
              transition: all 0.3s ease;
              top: -14px;
              &:first-child {
                transform: rotate(45deg) translateY(-23px);
                transition: all 0.3s ease;
                background-color: $dark-color;
              }
            }

            .closetwo {
              width: 24px;
              height: 2px;

              position: absolute;
              left: -8px;
              transition: all 0.3s ease;
              top: -44px;

              &:last-child {
                background-color: $dark-color;
                transform: rotate(136deg) translateY(-19px);
                transition: all 0.3s ease;
              }
            }
          }
          @include tablet {
            display: block;

            .closeone {
              width: 24px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              left: -11px;
              transition: all 0.3s ease;
              top: -14px;
              &:first-child {
                transform: rotate(45deg) translateY(-23px);
                transition: all 0.3s ease;
              }
            }

            .closetwo {
              width: 24px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              left: -8px;
              transition: all 0.3s ease;
              top: -44px;

              &:last-child {
                transform: rotate(136deg) translateY(-19px);
              }
            }
          }
        }
        @include mobile {
          background-color: $dark-color;
          text-align: center;
          transition: 0.5s;
          position: fixed;
          top: 57px;
          left: 0;
          height: 61px;
          width: 390px !important;
          opacity: 0;
          visibility: hidden;
          padding: 22px 30px;
          .closeBar {
            position: absolute;
            cursor: pointer;
            top: 57px;
            left: 0;
          }

          a {
            color: $main-color !important;
          }
        }
        @include tablet {
          background-color: $dark-color;
          text-align: center;
          transition: 0.5s;
          position: fixed;
          top: 57px;
          left: 0;
          height: 61px;
          width: 767px !important;
          opacity: 0;
          visibility: hidden;
          padding: 22px 32px;
          .closeBar {
            position: absolute;
            cursor: pointer;
            top: 57px;
            left: 0;
          }

          a {
            color: $main-color !important;
          }
        }
        a {
          color: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          transition: 0.4s;
          &:hover {
            transition: 0.4s;
            color: $dark-color;
          }
        }

        .new {
          cursor: pointer;
          a {
            color: rgba(0, 0, 0, 0.5);
            transition: 0.7s;
          }
          &:hover {
            &::after {
              content: "";
              position: absolute;
              border: 1px solid $dark-color;
              width: 38px;
              top: 50px;
              left: 29px;
              transition: 0.7s;
            }
          }
        }
        .race {
          cursor: pointer;
          a {
            color: rgba(0, 0, 0, 0.5);
          }

          &:hover {
            &::after {
              content: "";
              position: absolute;
              border: 1px solid #000000;
              width: 58px;
              top: 50px;
              left: 180px;
              transition: 0.7s;
            }
          }
        }
        .street {
          cursor: pointer;
          a {
            color: rgba(0, 0, 0, 0.5);
          }
          &:hover {
            &::after {
              content: "";
              position: absolute;
              border: 1px solid $dark-color;
              width: 70px;
              top: 50px;
              left: 358px;
              transition: 0.7s;
            }
          }
        }
        .inside {
          cursor: pointer;
          a {
            color: rgba(0, 0, 0, 0.5);
          }

          &:hover {
            &::after {
              content: "";
              position: absolute;
              border: 1px solid $dark-color;
              width: 50px;
              top: 50px;
              right: -10px;
              transition: 0.7s;
            }
          }
        }
      }
      .men_list {
        position: relative;

        &:hover {
          .dropdown {
            display: block;
            transition: 0.7s;
          }
        }

        .dropdown {
          position: absolute;
          display: none;
          background-color: whitesmoke;
          color: $dark-color;
          width: 193px;
          height: 343px;
          left: -2px;
          list-style: none;
          z-index: 1;

          li {
            text-align: start;
            padding: 10px;

            a {
              color: $dark-color;
              transition: 0.4s;
              &:hover {
                color: $green-color;
                transition: 0.4s;
              }
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

      @include mobile {
        gap: 11px;
      }
      @include tablet {
        gap: 22px;
      }
      .change-color {
        @include tablet {
          width: 28px;
        }
      }

      i {
        cursor: pointer;
        transition: 0.5s;
        color: $navbar-color;

        @include tablet {
          font-size: 20px;
        }
      }

      .user {
        font-family: "Font Awesome 1 Free";
        font-size: 0px;
        .login {
          position: relative;
          .fa-circle-xmark {
            position: absolute;
            top: -21px;
            right: 1px;
            font-size: 26px;
          }
        }

        .login-row {
          width: 500px;
          height: 612px;
          position: absolute;
          display: flex;
          flex-direction: column;
          border: 1px solid #f8f9fa;
          border-radius: 10px;
          padding: 30px 10px;
          margin: 0 auto 62px;
          background-color: #f8f9fa;
          z-index: 2;
          left: 524px;
          top: 56px;
          .invalid-feedback {
            font-size: 15px;
            font-weight: 400;

            @include mobile {
              font-size: 14px;
              font-weight: 400;
              margin-left: -21px;
            }

            @include tablet {
              // margin-left: -16px;
            }
          }
          @include mobile {
            width: 390px;
            height: 612px;
            top: 56px;
            left: 0px;
          }

          @include tablet {
            left: 102px;
            top: 78px;
            height: 600px;
          }

          .login {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: $dark-color;

            a {
              text-decoration: none;
            }

            .close {
              cursor: pointer;
            }
          }

          .login-register-row {
            width: 350px;
            height: 96px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            align-content: center;
            background-color: $main-color;
            border-radius: 10px;
            margin-top: 4em;
            margin-left: 70px;

            @include mobile {
              width: 306px;
            }
            .login-switch {
              width: 49%;
              height: 91%;
              border-radius: 10px;
              text-align: center;

              .login-button {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                font-size: 19px;
                font-weight: 500;
                border: 1px solid $main-color;
                margin-top: 25px;
                @include mobile {
                  width: 100%;
                  position: relative;
                  left: -39px;
                }
              }
            }

            .register-switch {
              width: 49%;
              height: 91%;
              border-radius: 10px;

              text-align: center;

              .register-button {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                font-size: 19px;
                font-weight: 500;
                border: 1px solid $main-color;
                margin-top: 25px;

                @include mobile {
                  width: 100%;
                  position: relative;
                  left: -41px;
                }
              }
            }
          }
          .login-form {
            margin-top: 50px;
            margin-left: -17px;
            @include mobile {
              margin-top: 50px;
              margin-left: -17px;
            }
            .inputs {
              margin: 20px 0 10px;
              width: 69%;
              margin-left: 96px;

              input {
                width: 100%;
                border-radius: 5px;
                border: none;
                background-color: $main-color;
                width: 100%;
                height: 50px;
                padding: 10px 20px;
                outline: none;
                border: 1px solid $dark-color;
                font-size: 18px;

                @include mobile {
                  margin-left: -23px;
                  width: 95%;
                }
              }

              button {
                width: 100%;

                padding: 10px 20px;
                border-radius: 5px;
                color: #fff;
                height: 50px;
                background-color: $dark-color;
                border: 1px solid $dark-color;
                transition: 0.7s;
                font-size: 17px;

                @include mobile {
                  margin-left: -23px;
                  width: 95%;
                }
                &:hover {
                  background-color: #fff;
                  transition: 0.7s;
                  color: $dark-color;
                }
              }

              a {
                text-decoration: none;
                color: $dark-color;
                transition: 0.7s;
                &:hover {
                  color: $main-color;
                  transition: 0.7s;
                }
              }
            }
          }
          .register-form {
            .inputs {
              margin: 10px 0 10px;
              width: 73%;
              margin-left: 72px;

              input {
                width: 100%;
                border-radius: 5px;
                border: none;
                background-color: $main-color;
                width: 100%;
                height: 50px;
                padding: 10px 20px;
                outline: none;
                border: 1px solid $dark-color;
                font-size: 18px;
                @include mobile {
                  margin-left: -25px;
                  width: 95%;
                }
              }

              button {
                width: 100%;

                padding: 10px 20px;
                border-radius: 5px;
                color: white;
                background-color: $dark-color;
                border: 1px solid $dark-color;

                &:hover {
                  background-color: #fff;
                  transition: 0.7s;
                  color: $dark-color;
                }
              }
            }

            .switch_inputs {
              display: flex;
              justify-content: center;
              align-items: center;
              .inputss {
                margin: 22px 0px 10px;
                width: 35% !important;
                margin-left: 10px;

                @include mobile {
                  text-align: center;
                }

                input {
                  width: 100%;
                  border-radius: 5px;
                  border: none;
                  background-color: $main-color;
                  height: 50px;
                  padding: 10px 20px;
                  outline: none;
                  border: 1px solid $dark-color;
                  font-size: 18px;

                  @include mobile {
                    margin-left: -9px;
                  }
                }
              }
            }

            .inputs {
              .register {
                width: 100%;

                padding: 15px 20px;
                border-radius: 5px;
                color: #fff;
                background-color: $dark-color;
                border: 1px solid $dark-color;
                font-size: 17px;
                @include mobile {
                  margin-left: -24px;
                  width: 95%;
                }
                &:hover {
                  background-color: #fff;
                  transition: 0.7s;
                  color: $dark-color;
                }
              }
            }
          }
        }
        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(3px);
          z-index: 1;
        }

        .active {
          background: white;
        }

        .visible {
          display: none;
        }
        .block {
          display: block;
        }

        .news {
          outline: none;
        }
      }
    }
  }

  .e-commerce_slide {
    position: relative;
    overflow: hidden;
    .img-slide {
      width: 100%;
      height: 95vh;
      transition: all 2s;
      @include mobile {
        height: 79vh;
      }
      @include tablet {
        height: 79vh;
      }
      .product_img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        background-repeat: no-repeat;
        filter: brightness(0.9);
      }
    }

    .product_name {
      position: absolute;
      left: 582px;
      font-size: 40px;
      font-weight: 700;
      bottom: 224px;
      font-weight: 700;
      color: $main-color;

      @include mobile {
        left: 34px;
        bottom: 188px;
        font-size: 33px;
      }

      @include tablet {
        left: 181px;
        bottom: 172px;
        font-size: 45px;
      }
    }

    .product_by {
      position: absolute;
      left: 440px;
      font-size: 22px;
      bottom: 176px;
      color: $main-color;

      @include mobile {
        display: none;
        left: 36px;
        font-weight: 400;
        bottom: 119px;
        font-size: 19px;
      }

      @include tablet {
        display: none;
      }
    }

    .product_bys {
      display: none;
      position: absolute;
      left: 440px;
      font-size: 22px;
      bottom: 120px;
      color: $main-color;

      @include mobile {
        display: block;
        left: 39px;
        font-weight: 400;
        bottom: 152px;
        font-size: 19px;
      }

      @include tablet {
        display: block;
        left: 24.2%;
        font-weight: 400;
        bottom: 123px;
        font-size: 27px;
      }
    }

    .product_byss {
      display: none;
      position: absolute;
      left: 440px;
      font-size: 22px;
      bottom: 142px;
      color: $main-color;

      @include mobile {
        display: block;
        left: 65px;
        font-weight: 400;
        bottom: 141px;
        font-size: 19px;
      }

      @include tablet {
        display: block;
        left: 30%;
        font-weight: 400;
        bottom: 106px;
        font-size: 27px;
      }
    }
    .video_button {
      .explore_button {
        position: absolute;
        bottom: 116px;
        left: 553px;
        width: 212px;
        height: 50px;
        color: $main-color;
        transition: 0.7s;
        background-color: $common-color;
        border: 1px solid $common-color;
        border-radius: 35px;

        @include mobile {
          bottom: 93px;
          left: 82px;
          width: 209px;
          height: 47px;
        }

        @include tablet {
          bottom: 7%;
          left: 24%;
          width: 209px;
          height: 47px;
        }

        &:hover {
          transition: 0.7s;
          background-color: $main-color;
          color: $dark-color;
        }
      }
    }

    .shop_button {
      .explore-button_second {
        position: absolute;
        bottom: 119px;
        left: 779px;
        width: 212px;
        height: 50px;
        background: $common-color;
        transition: 0.7s;
        border: 1px solid $common-color;
        color: $main-color;
        color: #f8f9fa;
        border-radius: 35px;
        @include mobile {
          bottom: 35px;
          left: 82px;
          width: 209px;
          height: 47px;
        }
        @include tablet {
          bottom: 7%;
          left: 410px;
          width: 209px;
          height: 47px;
        }
        &:hover {
          transition: 0.7s;
          background-color: $main-color;
          color: $dark-color;
        }
      }
    }

    .left {
      position: absolute;
      bottom: 48px;
      left: 759px;
      font-size: 10px;
      cursor: pointer;

      @include mobile {
        bottom: 6px;
        left: 43%;
      }
      @include tablet {
        bottom: 12px;
        left: 50%;
      }
    }

    .right {
      position: absolute;
      bottom: 48px;
      left: 782px;
      cursor: pointer;
      font-size: 10px;

      @include mobile {
        bottom: 6px;
        left: 50%;
      }
      @include tablet {
        bottom: 12px;
        left: 53%;
      }
    }
  }
}

main {
  #product--main {
    width: 100%;
    height: auto;
    .my-container {
      width: 100%;
      height: auto;
      padding: 10px 20px;
      @include mobile {
        padding: 5px;
        margin: 0 auto;
        margin-top: 20px;
      }

      @include tablet {
        padding: 25px 2px;
        margin-left: 7px;
      }

      .products--card {
        display: flex;
        align-items: center;
        gap: 15px;
        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 0px;
          align-items: center;
        }
        @include tablet {
          display: flex;
          align-items: center;
          gap: 15px;
          flex-wrap: wrap;
        }
        .card_one {
          width: 24.5%;
          height: auto;
          a {
            text-decoration: none !important;
            color: $dark-color;
          }
          @include mobile {
            width: 100%;
            height: 27vh;
          }

          @include tablet {
            width: 48.5%;
            height: auto;
          }
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 2px;
            @include mobile {
              height: 20vh;
              border-radius: 2px;
            }

            @include tablet {
              border-radius: 2px;
            }

            &:hover {
              filter: brightness(1.1);
            }
          }
          .card--body {
            text-align: center;
            .card_name {
              margin-bottom: -6px;
            }
          }
        }
      }
    }
  }

  #info--slide {
    width: 100%;
    height: auto;
    .my-container {
      margin-top: 30px;

      @include mobile {
        margin-top: 0px;
      }
      .slide_all {
        width: 100%;
        height: auto;
        position: relative;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 1px;
          filter: brightness(0.9);

          @include mobile {
            height: 24vh;
            border-radius: 2px;
          }

          @include tablet {
            height: 34vh;
            border-radius: 2px;
          }
        }

        .slide_head {
          position: absolute;
          top: 189px;
          left: 59px;
          font-size: 55px;
          color: $main-color;
          font-weight: 400;

          @include mobile {
            position: absolute;
            top: 44px;
            left: 14px;
            font-size: 30px;
            color: #f8f9fa;
            font-weight: 400;
          }

          @include tablet {
            top: 100px;
            left: 59px;
            font-size: 56px;
          }
        }
        .slide_text {
          position: absolute;
          top: 253px;
          left: 61px;
          font-size: 24px;
          color: $main-color;
          font-weight: 400;

          @include mobile {
            position: absolute;
            top: 87px;
            left: 16px;
            font-size: 17px;
            color: #f8f9fa;
            font-weight: 400;
          }

          @include tablet {
            top: 167px;
            left: 63px;
            font-size: 20px;
          }
        }
      }
    }
  }

  #racewear {
    width: 100%;
    height: auto;
    .my-container {
      padding: 5px 5px;
      @include mobile {
        padding: 0px;
        margin-top: 5px;
      }
      .racewear_all {
        width: 100%;
        height: auto;
        display: flex;

        position: relative;
        flex-wrap: wrap;

        @include mobile {
          height: 98vh !important;
        }
      }
      .race {
        width: 50%;
        height: auto;
        padding: 5px;

        @include mobile {
          padding: 0px;
          width: 100% !important;
          height: 24vh !important;
        }
        img {
          width: 100%;
          height: auto;
          filter: brightness(0.9);
          @include mobile {
            border-radius: 2px !important;
            height: 24vh !important;
          }
        }
        .wear {
          position: absolute;
          top: 210px;
          left: 286px;
          color: $main-color;
          font-size: 42px;

          @include mobile {
            top: 68px;
            left: 127px;
            font-size: 25px;
          }
        }

        .race_button {
          .view_button {
            position: absolute;
            top: 268px;
            left: 281px;
            width: 197px;
            height: 50px;
            color: #f8f9fa;
            transition: 0.7s;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            font-size: 14px;
            @include mobile {
              top: 99px;
              left: 109px;
              font-size: 9px;
              width: 142px;
              height: 32px;
            }
            &:hover {
              transition: 0.7s;
              background-color: $main-color;
              color: $dark-color;
            }
          }
        }

        .origin {
          position: absolute;
          top: 202px;
          right: 266px;
          color: $main-color;
          font-size: 42px;
          @include mobile {
            top: 280px;
            font-size: 22px;
            right: 130px;
            position: absolute;
          }
        }

        .origin_button {
          .buy_button {
            position: absolute;
            top: 261px;
            right: 292px;
            width: 197px;
            height: 50px;
            color: #f8f9fa;
            transition: 0.7s;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            font-size: 14px;
            @include mobile {
              left: 33%;
              font-size: 9px;
              width: 142px;
              height: 32px;
              top: 312px;
            }
            &:hover {
              transition: 0.7s;
              background-color: $main-color;
              color: $dark-color;
            }
          }
        }

        .street {
          position: absolute;
          bottom: 247px;
          left: 278px;
          color: $main-color;
          font-size: 42px;

          @include mobile {
            font-size: 22px;
            position: absolute;
            left: 126px;
            bottom: 310px;
          }
        }

        .street_button {
          .vieww_button {
            position: absolute;
            bottom: 195px;
            left: 284px;
            width: 197px;
            height: 50px;
            color: #f8f9fa;
            transition: 0.7s;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            font-size: 14px;

            @include mobile {
              left: 29%;
              font-size: 9px;
              width: 142px;
              height: 32px;
              bottom: 285px;
            }

            &:hover {
              transition: 0.7s;
              background-color: $main-color;
              color: $dark-color;
            }
          }
        }

        .basic {
          position: absolute;
          right: 262px;
          bottom: 251px;
          color: $main-color;
          font-size: 42px;

          @include mobile {
            font-size: 22px;
            position: absolute;
            right: 33%;
            bottom: 13%;
            z-index: 97;
          }
        }

        .basic_button {
          .buyy_button {
            position: absolute;
            bottom: 199px;
            right: 281px;
            width: 197px;
            height: 50px;
            color: #f8f9fa;
            transition: 0.7s;
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            font-size: 14px;

            @include mobile {
              left: 32%;
              font-size: 9px;
              width: 142px;
              height: 32px;
              bottom: 74px;
            }

            &:hover {
              transition: 0.7s;
              background-color: $main-color;
              color: $dark-color;
            }
          }
        }
      }
    }
  }
}

.darks {
  background-color: $bgdarkcolor;
  color: $main-color !important;
  .dropdown {
    a {
      color: $dark-color !important;
    }
  }
  .nav_head {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .product_img {
    filter: brightness(0.5) !important;
  }
  .explore_button {
    background-color: $dark-color !important;
    color: $main-color !important;
    &:hover {
      background: top !important;
    }
  }

  .explore-button_second {
    background-color: $dark-color !important;
    color: $main-color !important;
    &:hover {
      background: top !important;
    }
  }
  .icons {
    i {
      color: $main-color !important;
    }
  }
  a {
    color: $main-color !important;
  }

  .card_one {
    img {
      filter: brightness(0.9) !important;
      &:hover {
        filter: brightness(1.1) !important;
      }
    }
  }
  .login {
    .close {
      color: $dark-color !important;
    }
  }

  .slide_all {
    img {
      filter: brightness(0.7) !important;
    }
  }

  .race {
    img {
      filter: brightness(0.7) !important;
    }
    .view_button {
      background-color: $dark-color !important;
      color: $main-color !important;
      &:hover {
        background: top !important;
      }
    }
    .vieww_button {
      background-color: $dark-color !important;
      color: $main-color !important;
      &:hover {
        background: top !important;
      }
    }
    .buy_button {
      background-color: $dark-color !important;
      color: $main-color !important;
      &:hover {
        background: top !important;
      }
    }
    .buyy_button {
      background-color: $dark-color !important;
      color: $main-color !important;
      &:hover {
        background: top !important;
      }
    }
  }
}
.green {
  color: green;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}
