@import "../abstract/mixin";
@import "../abstract/variable";
@import "../layout/layout";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: $page-color;

  p {
    margin-bottom: 0rem !important;
  }

  h3 {
    margin-bottom: 0rem !important;
  }
}



main {
  #product_detail {
    width: 100%;
    height: auto;
    .my-container {
      width: 100%;
      height: auto;
      padding: 80px 30px;
      margin-top: 50px;

      .page-new {
        margin-bottom: 20px;
        font-size: 13px;
        .new {
          color: $dark-color;
          font-weight: 900;
          font-size: 13px;
        }
      }
      .product_list {
        width: 100%;
        height: auto;
        display: flex;

        gap: 30px;
        .product_image {
          display: flex;
          width: 100%;
          margin: auto;
          column-gap: 23px;

          .hover_img {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 21px;

            img {
              object-fit: cover;
              border-radius: 4px;
              height: 114px;
              cursor: pointer;
            }
          }

          .hover_choose {
            img {
              height: auto;
              width: 100%;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }

        .product_shop {
          width: 50%;
          height: auto;
          .product_name {
            margin-bottom: 18px;
            .basic {
              color: darkgray;
              margin-bottom: 20px;
            }
            .beanie {
              color: $dark-color;
              font-weight: 900;
              font-size: 30px;
              margin-top: 10px;
            }
          }

          .review {
            margin-bottom: 15px;
            .price {
              color: $red-color;
              font-size: 22px;
              font-weight: 700;
            }
          }

          .stock_product {
            margin-bottom: 3px;
            .stock {
              font-weight: bold;
            }
          }

          .product_code {
            margin-bottom: 3px;
            .code_pd {
              font-weight: bold;
            }
          }

          .product_tags {
            margin-bottom: 20px;
            .tags {
              font-weight: bold;
            }
          }
          .product_info {
            .details {
              font-weight: 700;

              font-size: 17px;
            }
            .info {
              font-weight: 400;
              margin-top: 2px;
            }
          }

          .shipping {
            .made {
              padding: 18px 16px;
              li {
                font-size: 15px;
              }
            }
          }
        }

        .drop_product {
          display: flex;
          flex-direction: row;

          button {
            width: 200px;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            background-color: white;
          }
          .dropdown-toggle {
            color: black;
          }

          .dropdown {
            padding: 5px;
          }
        }

        .whislist {
          margin-top: 15px;
          a {
            color: rgba(0, 0, 0, 0.87);
            font-size: 15px;
          }
        }

        .product_button {
          margin-top: 46px;

          button {
            color: white;
            width: 147px;
            height: 52px;
            border-radius: 4px;
            background-color: $red-color;
            box-shadow: 0 8px 8px -4px grey;
          }
        }
      }
    }
  }
}


